Click==7.0
Flask==1.0.2
firebase_admin
google-cloud-storage==1.20.0
GoogleAppEngineCloudStorageClient==1.9.22.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Pillow
Werkzeug==0.16.0
pysftp==0.2.9
